.tag-container {
  display: flex;
  align-items: center;
  background-color: var(--dark-grey);
  padding: var(--space-10);
  border-radius: var(--border-20);
  /* margin-bottom: var(--space-30); */
}

.tag-img {
  margin-right: var(--space-10);
}

.tag-info {
  display: flex;
  flex-direction: column;
  font-size: var(--font-14);
  margin-right: var(--space-48);
}

.tag-info__title {
  font-weight: var(--font-bold);
  color: white;
  font-family: var(--font-family);
}

.tag-info__text {
  font-weight: var(--font-regular);
  color: white;
  font-family: var(--font-family);
}

.arrow-icon {
  padding: var(--space-14);
  background-color: var(--regular-grey);
  border-radius: var(--border-10);
}
