:root {
  /* -----> Color */

  --dark-blue: #081425;
  --light-blue: #1f83ff;
  --dark-grey: #142030;
  --regular-grey: #2b3645;

  /* ----> Font */

  --font-family: "Poppins", sans-serif;

  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
  --font-extrabold: 800;

  --font-14: 14px;
  --font-18: 18px;
  --font-30: 30px;

  /* -----> Border Radius */
  --border-20: 20px;
  --border-10: 10px;

  /* ----> Padding */
  --padding-10: 10px;
  --padding-14: 14px;

  /* -----> Margin */
  --margin-10: 10px;
  --margin-30: 30px;
  --margin-48: 48px;
}
