* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: white;
  font-family: var(--font-family);
}

aside {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
  width: 300px;
  height: 100vh;
  padding: var(--space-10);
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  background-color: var(--dark-grey);
  padding: var(--space-10);
  border-radius: var(--border-20);
  margin-bottom: var(--space-30);
}

.img-header {
  margin-right: var(--space-10);
}

.info-header {
  display: flex;
  flex-direction: column;
  font-size: var(--font-14);
  margin-right: var(--space-48);
}

.info-header__title {
  font-weight: var(--font-bold);
}

.arrow-icon {
  padding: var(--space-14);
  background-color: var(--regular-grey);
  border-radius: var(--border-10);
}

/* NAV */

.courses-options {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ffffff;
  padding: 19px 0 56px 0;
  gap: 24px;
}

.title-options {
  font-size: var(--font-regular);
  color: var(--light-blue);
}

.options {
  display: flex;
  align-items: center;
  width: 200px; /* DUDA WAKOS */
  height: 40px; /* DUDA WAKOS */

  &:hover {
    width: 260px;
    height: 40px;
    padding: 8px 113px 8px 20px;
    border-radius: var(--border-10);
    background-color: hsla(257, 82%, 72%, 1);
    font-weight: 700;
  }
}

.nav {
  flex: 1;
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  background-color: var(--dark-grey);
  padding: var(--space-10);
  border-radius: var(--border-20);
}
